{% extends 'anotherplanet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Catrgories
{% endblock %}

{% block body_block %}
    <h1>Another Planet</h1>
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.name }}!
        {% else %}
            Welcome to another planet!
        {% endif %}
        <br/>
        <strong>{{ boldmessage }}</strong><br/>
    </div>
    <div>
        {% for item in category_list %}
            <a href=''>{{ item.name }}</a><br/>


        {% endfor %}
    </div>
{% endblock %}